@charset "utf-8";
/* CSS Document */

/**公共部分**/
*{margin:0px;padding:0px;}
img{border:none;vertical-align:top;}
li{list-style-type:none;}
ul,dl,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:100%;}
h2{ font-size:18px; font-family:"微软雅黑"; }
body{font-size:14px; font-family:"微软雅黑"; }
address,cite,code,em,th{font-weight:normal; font-style:normal;}
.clear{clear:both;}
a{outline: none;}

.aBlack a,.aBlack{ color:#333333; text-decoration:none;}
.aBlack a:hover,.aBlack:hover{ color:#fc3930; text-decoration:underline;}

.bBlack a,.bBlack{ color:#999999; text-decoration:none;}
.bBlack a:hover,.bBlack:hover{ color:#fc3930; text-decoration:underline;}

.cBlack a,.cBlack{ color:#cccccc; text-decoration:none;}
.cBlack a:hover,.cBlack:hover{text-decoration:underline; color: #ffffff;}

.dBlack a,.dBlack{ color:#666666; text-decoration:none;}
.dBlack a:hover,.dBlack:hover{ color:#fc3930; text-decoration:underline;}

.eBlack a,.eBlack{ color:#B7B7B7; text-decoration:none;}
.eBlack a:hover,.eBlack:hover{ color:#fc3930; text-decoration:underline;}

.fBlack a,.fBlack{ color:#666666; text-decoration:none;}
.fBlack a:hover,.fBlack:hover{ color:#2769DC; text-decoration:underline;}

.gBlack a,.gBlack{ color:#333333; text-decoration:none;}
.gBlack a:hover,.gBlack:hover{ color:#2769DC; text-decoration:underline;}

.hBlack a,.hBlack{ color:#999999; text-decoration:none;}
.hBlack a:hover,.hBlack:hover{ color:#2769DC; text-decoration:underline;}

.aWhite a,.aWhite{ color:#ffffff; text-decoration:none;}
.aWhite a:hover,.aWhite:hover{ text-decoration:underline;}

.aRed a,.aRed{ color:#fc3930; text-decoration:none;}
.aRed a:hover,.aRed:hover{ text-decoration:underline;}

/**头部**/
.bodyBg{ background:#f7f8fa; position: relative;}
.phpHead{ width: 100%;}
.phpTop{ width: 100%; height: 40px; background: #343434;}
.phpTopIn{ width:1380px; margin: auto;}
.phpTopLeft{float: left; width: 230px; height:16px; background:url(../images/bg1.png) no-repeat 0px 0px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat 0px 0px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat 0px 0px; 
    margin: 13px 0px 0px 0px;} 
.phpTopRight1{ float: right; color: #ffffff; font-size: 12px; line-height: 40px;}
.phpTopRight1 a{color:#fff;}
.phpTopRight2{ float:right; position: relative;}
.phpLingDang{ float: left; position: relative;}
.phpLingDang b{ display: block; width: 13px; height: 14px; background: url(../images/images/icon56.png) no-repeat ; 
    background: image-set(url(../images/images/icon56.png) 1x no-repeat ); 
    background: -webkit-image-set(url(../images/images/icon56.png) 1x no-repeat); 
    margin: 17px 0px 0px 0px;} 
.phpLingDang span{ display: block; height: 15px; padding: 0px 4px; background: #fc3930; border-radius: 100px; color: #ffffff; font-size: 12px; line-height: 15px; position:absolute; left: 7px; top:7px;}
.phpLinkhover{ float: left; margin-left:35px; }
.phpLingimg{ height: 40px; box-sizing: border-box;}
.phpLingimg a{ display: block; width: 25px; height: 25px; position: relative;}
.phpLingimg a img{ width:25px; height: 25px; border-radius: 100px; margin-top:7px; border: 1px solid #343434;}
.phpLingimg a span{ display: block; width: 10px; height: 11px; 
    background: url(../images/bg1.png) no-repeat; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat; 
    position:absolute; right:-2px; top: 23px;} 
.phpLingimg a span.bg1{ background-position: -135px -105px;}
.phpLingimg a span.bg2{ background-position: -150px -105px;}
.phpTopRight2:hover .phpLingimg a img{ border: 1px solid #fc3930;}
.phpLingSub{ width: 256px; height: 274px; background: #ffffff; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08); position:absolute; right: 0px; top:40px; z-index: 101; border-radius: 6px;}
.phpNicBox{ width: 216px; margin: auto; margin-top:20px;}
.phpNicBox a img{ display: block; float:left; width: 40px; height: 40px; border-radius: 100px;}
.phpNicBox dl{ float:right; width: 165px; margin-top:3px;}
.phpNicBox dl dt{ height: 18px; line-height: 18px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; font-weight: bold;}
.phpNicBox dl dd{ margin-top:5px;}
.phpNicBox dl dd span{ display: block; float: left; width: 26px; height: 12px; 
    background: url(../images/bg1.png) no-repeat; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat;
    margin-top:3px;}
.phpNicBox dl dd span.bg1{ background-position: -225px -25px;}
.phpNicBox dl dd span.bg2{ background-position: -260px -25px;}
.phpNicBox dl dd em{ display: block; float: left; margin: 0px 0px 0px 12px; color: #999999;}
.phpNicBox dl dd em b{ display: block; float: left; width: 12px; height: 12px; 
    background: url(../images/bg1.png) no-repeat -25px -105px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -25px -105px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -25px -105px; 
    margin: 3px 5px 0px 0px;} 
.phpNicList{ width: 216px; margin: auto; margin-top:10px;}
.phpNicList li{ float: left; width: 106px; height: 34px; margin: 4px 0px 0px 4px;}
.phpNicList li:nth-child(2n+1){ margin-left:0px;}
.phpNicList li a{ display:block; width: 106px; height: 34px; background: #f7f7f7; line-height: 34px; overflow: hidden; color: #666666; text-decoration: none;}
.phpNicList li a b{ display: block; float: left; width: 12px; height: 12px;
     background:url(../images/bg1.png) no-repeat; 
     background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat; 
     background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat;
     margin: 11px 10px 0px 13px;}
.phpNicList li a b.icon1{ background-position: -50px -105px;}
.phpNicList li a b.icon2{ background-position: -65px -105px;}
.phpNicList li a b.icon3{ background-position: -80px -105px;}
.phpNicList li a b.icon4{ background-position: -95px -105px;}
.phpNicList li a:hover{ background: #eeeeee;}
.phpNicCont{ width: 216px; height:55px; border-bottom: 1px solid #F2F2F2; margin:auto; margin-top:20px;} 
.phpNicCont b{ display: block; float: left; width: 13px; height: 14px; 
    background:url(../images/bg1.png) no-repeat -115px -105px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -115px -105px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -115px -105px; 
    margin-top:2px;}
.phpNicCont dl{ float:right; width: 195px;}
.phpNicCont dl dt a{ display: block; height: 18px; line-height: 18px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; }
.phpNicCont dl dd{ margin-top:5px;}
.phpNicCont dl dd p{ float: left; width: 155px; height: 18px; line-height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #999999;}
.phpNicCont dl dd a{ display: block; float: right; color: #fca32d; text-decoration: none; width: 40px; height: 18px; line-height: 18px; overflow: hidden; text-align: right;}
.phpNicCont dl dd a:hover{ text-decoration: underline;}
.phpNicTui{ width: 216px; margin: auto;}
.phpNicTui a{ display: block; margin-top:10px; font-size: 12px;}
.phpHeadBg{ width:100%; height: 90px; background: #ffffff; position: fixed; z-index: 100; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpHeadIn{ width: 1380px; margin: auto;}
.phpLogo{ float: left; width: 140px; height: 34px; margin-top:28px;}
.phpLogo a{ display: block; width: 140px; height: 34px; background: url(../images/logo.png) no-repeat; 
    background: image-set(url(../images/logo.png) 1x, url(../images/logo-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(../images/logo.png) 1x, url(../images/logo-2x.png) 2x) no-repeat; } 
.phpNav{ float: left; width:900px; margin-top:36px; margin-left:90px;}
.phpNav li{ float: left; margin-left:22px;}
.phpNav li .phpNavIn{ position: relative; }
.phpNav li .phpNavIn .phpNavTitle a{ display: block; text-decoration: none; height: 30px;}
.phpNav li .phpNavIn .phpNavTitle a em{ display: block; float: left;  padding: 0 5px;height: 15px; line-height: 15px; background: #fc3930;border-radius: 8px;color: #FFFFFF; position:absolute; top: -6px; right:-18px; font-size: 12px;}
.phpNav li .phpNavIn .phpNavTitle a h2{ font-size: 16px; color: #333333; float: left;}
.phpNav li .phpNavIn .phpNavTitle a b{ display: block; float: left; width: 9px; height: 5px; 
    background: url(../images/bg1.png) no-repeat -245px 0px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -245px 0px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -245px 0px; 
    margin:8px 0px 0px 7px;} 
.phpNav li .phpNavIn .phpNavTitle a:hover b{ background: url(../images/bg1.png) no-repeat -260px 0px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -260px 0px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -260px 0px;}
.phpNav li .phpNavIn .phpSubnav{ width:100px; background: #ffffff; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);  position:absolute; left:-10px; top: 30px; display:none; z-index: 10; border-radius:6px;}
.phpNav li .phpNavIn .phpSubnav a{ display: block; width: 80px; height: 35px; padding-left: 20px; color: #333333; text-decoration: none; line-height: 35px; overflow: hidden;}
.phpNav li .phpNavIn .phpSubnav a:hover:first-child{ border-radius: 6px 6px 0px 0px;}
.phpNav li .phpNavIn .phpSubnav a:hover:last-child{ border-radius: 0px 0px 6px 6px;}
.phpNav li .phpNavIn .phpSubnav a:hover{ background: #f2f2f2; color: #fc3930; font-weight: bold;}
.phpNav li .phpNavIn .phpNavTitle2 a{  display: block; text-decoration: none; height: 30px; margin-left:50px;}
.phpNav li .phpNavIn .phpNavTitle2 a b{ display: block; width: 22px; height: 18px; background: url(../images/bg1.png) no-repeat -350px -195px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -350px -195px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -350px -195px;
    float: left; margin-right: 5px;}
.phpNav li .phpNavIn .phpNavTitle2 a h2{ float: left; font-size: 16px; color: #333333;}
.phpNav li .phpNavIn .phpSubnav1{ width: 142px; height: 167px; background: #ffffff; border-radius: 12px; position:absolute; left:0px; top: 30px; display:none; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04); }
.phpNav li .phpNavIn .phpSubnav1 img{ width: 100px; height: 100px; margin:15px 0px 0px 20px;} 
.phpNav li .phpNavIn .phpSubnav1 p{ font-size: 12px; font-weight: bold; margin-top:10px; margin-left:10px; text-align: center;}
.phpNav li .phpNavIn .phpSubnav1 p em{ font-weight: bold; color: #fc3930;}
.phpNav li .phpNavIn .phpNavTitle3{ margin-top:10px;}
.phpNav li .phpNavIn .phpNavTitle3 a{  display: block; text-decoration: none; height: 30px;}
.phpNav li .phpNavIn .phpNavTitle3 a b{  display: block; width: 16px; height: 4px; background: url(../images/bg1.png) no-repeat -20px -35px;
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -20px -35px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -20px -35px;}
.phpNav li .phpNavIn .ylwTopSub1{ left:20px; border-radius: 12px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04); z-index: 10;}
.phpNav li .phpNavIn .ylwTopSub2{ left: -30px;}
.phpNav li .phpNavIn .phpNavTitle a:hover h2{ color: #fc3930; font-weight: bold;}
.phpNav li .phpNavIn .phpNavTitle a.hover h2{  color:#fc3930; font-weight: bold;}
.phpNav li .phpNavIn .phpNavTitle a.hover b{background: url(../images/bg1.png) no-repeat -260px 0px;  
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -260px 0px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -260px 0px;}
.phpNav li .phpNavIn .phpNavTitle1{ width: 65px;}
.phpSerch{ float: right; width: 200px; height: 36px; border-radius: 100px; background: #f7f8fa; margin-top:30px;}
.phpSerch input.text1{ float: left; width: 130px; height: 36px; border: none; background: none; margin: 0px 0px 0px 20px; outline: none; font-size: 12px; color: #999999;} 
.phpSerch input.submit1{ width: 17px; height: 17px; border: none; background: none; background: url(../images/bg1.png) no-repeat -45px -25px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -45px -25px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -45px -25px;
    float: right; margin-right: 15px; margin-top:9px;} 
.phpSerch:hover input.submit1{ background: none; background: url(../images/bg1.png) no-repeat -70px -25px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -70px -25px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -70px -25px;}


/**底部**/
.phpFoot{ width: 100%; margin-top:60px;}
.phpFootIn{ width: 100%; height: 227px; background: #292929;}
.phpFootCont{ width: 1380px; margin: auto;} 
.phpFootLeft{ float: left; width:685px; margin-top:50px; position: relative;}
/*.phpFootLeft dl{ width:875px;}*/
.phpFootLeft dl dt{ width: 875px;}
.phpFootLeft dl dt a{ display: block; float: left; margin-right:45px; font-weight: bold;}
.phpFootLeft dl dd.cont1{ color: #7b7b7b; margin-top:25px; height: 18px; line-height: 18px; overflow: hidden;}
.phpFootLeft dl dd.cont2{ margin-top:30px;}
.phpFootLeft dl dd.cont2 span{ display: block; float: left; line-height: 30px; position: relative; height: 40px;}
.phpFootLeft dl dd.cont2 span a{ display: block; float: left; font-size: 12px; margin-right: 40px; margin-top:10px;}
.phpFootLeft dl dd.cont2 span a b{ display: block; width: 30px; height: 30px; background: url(../images/bg1.png) no-repeat; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat;
    float: left; margin: 0px 10px 0px 0px;}
.phpFootLeft dl dd.cont2 span a b.icon1{ background-position: -100px -25px;}
.phpFootLeft dl dd.cont2 span a b.icon2{ background-position: -140px -25px;}
.phpFootLeft dl dd.cont2 span em{ display: block; width:150px; height:180px; background: #ffffff; border-radius:12px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04); position:absolute; right:0px; left:0px; z-index: 10; top:-180px;}
.phpFootLeft dl dd.cont2 span em img{ width:110px; height: 110px; margin: 5px 0px 0px 20px;}
.phpFootLeft dl dd.cont2 span em p{ line-height: 20px; font-size: 12px; margin-top:10px; text-align: center;}
.phpFootRight{ float: right; margin-top:17px;}
.phpFootMsg{ float: left; text-align: center; margin: 0px 0px 0px 30px;}
.phpFootMsg span{ width: 142px; height:142px; background: #ffffff; border-radius: 5px; display: block;margin: 0 auto;}
.phpFootMsg span img{width: 94%; height: 94%;margin-top: 4%;margin-left: 1%;}
/**.phpFootMsg dl{ width: 120px;} **/
.phpFootMsg dl dt{ height: 16px; line-height: 16px; overflow: hidden; font-size: 12px; color: #cccccc; margin-top:15px;}
.phpFootMsg dl dd{ font-size: 12px; height: 16px; line-height: 16px; overflow: hidden; color: #7d7d7d; margin-top:10px;}
/*.phpFootMsg1{ float: right; width: 102px;}*/
.phpFootCode{ width: 100%; height: 50px; background: #212121; line-height: 50px;}
.phpFootCodeIn{ width: 1380px; margin: auto; display: flex; justify-content:center; align-items: center;}
.phpFootCodeIn p{ color: #656565; float: left;}
.phpFootCodeIn b{ display: block; float: left; width: 12px; height: 14px; background: url(../images/bg1.png) no-repeat -180px -25px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -180px -25px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -180px -25px;
    margin: 0px 0px 0px 10px;}
.phpAppBox{  position:absolute; right: 0px; top: -3px;}
.phpAppTitle a{ display: block; color: #ffffff; text-decoration: none; font-weight: bold; position: relative;}
.phpAppSub{ position:absolute; left: -30px; top: 20px; background: #ffffff; width: 150px; padding-bottom: 20px; border-radius: 12px;}
.phpAppSub img{ width: 110px; height: 110px; margin: 20px 0px 0px 20px;}
.phpAppSub p{ text-align: center; font-size: 12px; color: #333333; margin-top:10px;}

/**主体**/
.phpMain{ width:1380px; margin: auto; margin-top:120px;}
.phpMainIn{ margin-top:0px;}
.phpscMain{ width:1380px; margin: auto;}

/**侧导航**/
.phpCeNav{ width: 100px; background: #ffffff; border-radius: 12px; position:absolute; right:20px; top:50%; position:fixed; z-index:99;margin-top:-230px; box-shadow: 0px 4px 30px 0px rgba(238, 242, 245, 0.9);}
.phpCeNavList{ width: 100px; margin-top:22px; padding-bottom: 10px; border-bottom: 1px solid #f4f4f4;}
.phpCeNavList li{ width: 100px; height: 38px; margin-top:3px;}
.phpCeNavList li a{ display: block; width: 100px; height: 38px; color: #999999; text-decoration: none; line-height: 38px;}
.phpCeNavList li a span{ display: block; margin-left:20px;}
.phpCeNavList li a:hover{ background: #fef6f6; color: #fc3930;}
.phpCeNavList li a.lockup{ background: #fef6f6; color: #fc3930;}

.phpCeCode{ width: 100px; height: 72px;  position:relative;}
.phpCeCodeIn{ width: 100px; height: 72px; overflow: hidden;}
.phpCeCodeIn a{ display: block; width: 100px; height: 72px; line-height: 72px; color: #333333; text-decoration: none; font-weight: bold;}
.phpCeCodeIn a span{ display: block; margin-left:20px;}
.phpCeCodeBg{ width: 142px; height: 158px; background: #ffffff; position: absolute; left:-140px; top: 0px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpCeCodeBg img{ width: 100px; height: 100px; margin: 20px 0px 0px 25px;}  
.phpCeCodeBg p{ font-weight: bold; font-size: 12px; text-align: center; color: #333333; font-weight: bold; margin-top:7px;} 
.phpCeCodeBg p span{ color: #fc3930;}
.phpFanhui{ width:100px; height: 38px; border-top: 1px solid #f4f4f4;}
.phpFanhui a{ display: block; width: 100px; height: 38px; color: #999999; line-height: 38px; text-decoration: none;}
.phpFanhui a span{ display: block; margin-left:20px;}
.phpFanhui a:hover{ background: #fef6f6; color: #fc3930; border-radius: 0px 0px 12px 12px;}


/**底部浮动层**/
.phpFudong{ width: 100%; height: 80px; background: rgba(62, 67, 78, 0.9); position:absolute; left: 0px; bottom: 0px; position:fixed;z-index:999;}
.phpFudongIn{ width: 1200px; margin: auto; position: relative;}
.phpFudongImg{width: 185px; height: 112px; position:absolute; left: 12px; top:-32px; background:url(../images/bg2.png) no-repeat;
    background: image-set(url(../images/bg2.png) 1x, url(../images/bg-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(../images/bg2.png) 1x, url(../images/bg-2x.png) 2x) no-repeat; } 
.phpFudongXue{ float: left; margin-left:225px; font-size: 30px; font-weight: bold; color: #ffffff; line-height: 80px;} 
.phpFudongQuan{ float: left; margin-left:20px; font-size: 20px; color: #ffffff; line-height: 80px;} 
.phpFudongQuan span{ font-weight: bold; color: #ffde00;}
.phpFudongCode a{ display: block; float: left; width: 128px; height: 44px; background: #07c160; line-height: 44px; overflow: hidden; text-align: center; color: #ffffff; border-radius: 100px; font-size: 15px; font-weight: bold; text-decoration:none; margin: 18px 0px 0px 30px;}
.phpGuanbi{ float: right; width: 16px; height: 16px; background: url(../images/bg1.png) no-repeat -325px -60px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -325px -60px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -325px -60px;
    margin-top:11px; cursor: pointer;}


/**交易中心首页头部**/
.phpTopRight3{ float: right; position:relative;}
.jyzxYhzxBox{float: left; font-size: 12px; line-height: 40px;}
.jyzxYhzxBox a{ display: block;}
.jyzxXiaoxi{ float:left; margin-left:30px;}
.jyzxXiaoxi a{ display: block; font-size: 12px;}
.jyzxXiaoxi a span{ display: block; float: left; line-height: 40px;}
.jyzxXiaoxi a:hover span{ text-decoration: underline;}
.jyzxXiaoxi a em{ display: block; float: left; height: 15px; padding: 0px 5px; background: #fc3930; border-radius: 100px; line-height: 14px; margin: 12px 0px 0px 3px;}
.jyzxMsg{ float:left; margin-left:30px;}
.jyzxImg{ width: 25px; height: 40px;}
.jyzxImg a img{ display: block; width: 25px; height:25px; border-radius: 100px; margin: 7px 0px 0px 0px; border: 1px solid #343434;}
.jyzxMsg:hover .jyzxImg a img{ border: 1px solid #fc3930;}
.jyzxMsgSub{ width: 220px; height: 161px; background: #FFFFFF; box-shadow: 0px 4px 15px 0px rgba(205, 216, 228, 0.3); border-radius: 6px; position:absolute; right: 0px; top: 40px; z-index: 101;}
.jyzxImgTupian{ width: 185px; margin: auto;}
.jyzxImgTupian span{ display: block; float: left; width: 60px; height: 60px; margin-top:20px;}
.jyzxImgTupian span a img{ width: 60px; height: 60px; border-radius: 100px;}
.jyzxImgTupian dl{ float: right; width: 110px; margin-top:30px;}
.jyzxImgTupian dl dt a{ display: block; height: 18px; line-height: 18px; overflow: hidden; font-weight: bold; color: #000000; text-decoration: none;}
.jyzxImgTupian dl dt a:hover{ color: #fc3930; text-decoration:underline;}
.jyzxImgTupian dl dd{ height: 16px; line-height:16px; overflow: hidden; font-size: 12px; color: #666666; margin-top:5px;} 
.jyzxYue{ width: 185px; margin: auto;}
.jyzxYue p{ float: left; width: 130px; height: 18px; line-height: 18px; overflow: hidden; color: #666666; margin-top:15px;}
.jyzxYue p b{ color: #fc3930;}
.jyzxYue a{ display: block; float: right; width: 40px; height: 24px; border: 1px solid #FDBFA0; background: #FFF6F0; font-size: 12px; color: #FF6200; text-decoration: none; border-radius: 2px; line-height: 24px; text-align: center; margin-top:10px;} 
.jyzxTuichu{ width: 220px; height: 35px; border-top: 1px solid #F2F2F2; margin-top:10px;}
.jyzxTuichu a{ display: block; width: 220px; height: 35px; line-height: 35px; text-align: center; overflow: hidden; color: #999999; text-decoration:none;}
.phpNavMenu{ float: left;}
.phpNavMenu li{ float: left; margin:35px 0px 0px 67px;}
.phpNavMenu li a{ font-size: 16px; color: #333333; text-decoration: none;}
.phpNavMenu li:first-child{ margin-left:60px;}
.phpNavMenu li a.hover{ color: #fc3930; font-weight: bold;}
.phpNavMenu li a:hover{ color: #fc3930; font-weight: bold;}
.phpSerchMenu{ width: 240px;}
.phpSerchMenu input.text1{ width: 160px; font-size: 14px;}


/**当前位置**/
.yjzxSize{ width: 1200px;}
.yjzxSize b{ display: block; float: left; width: 11px; height: 13px; background: url(../images/bg1.png) no-repeat 0px -130px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat 0px -130px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat 0px -130px; margin: 3px 5px 0px 0px;}
.yjzxSize p{ float:right; color: #999999; width: 1184px;}


/**星号**/
.star{ width: 105px; height: 16px; background: url(../images/bg4.png) no-repeat; 
    background: image-set(url(../images/bg4.png) 1x, url(../images/bg4-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(../images/bg4.png) 1x, url(../images/bg4-2x.png) 2x) no-repeat;} 
.star1{ background-position: 0px 0px;}
.star2{ background-position: 0px -20px;}
.star3{ background-position: 0px -40px;}
.star4{ background-position: 0px -60px;}
.star5{ background-position: 0px -80px;}
.star6{ background-position: 0px -100px;}
.star7{ background-position: 0px -120px;}
.star8{ background-position: 0px -140px;}
.star9{ background-position: 0px -160px;}
.star10{ background-position: 0px -180px;}


/**页码**/
.pagination{width:100%; text-align:center; margin-top:40px; display:flex; justify-content: center; align-items: center;}
.pagination li{ float: left; margin: 0px 5px;}
.pagination li a{ display:inline-block; height: 30px; border: 1px solid #D9D9D9; border-radius: 3px; line-height: 30px; padding: 0px 11px; color: #999999; text-decoration: none; background: #ffffff;}
.pagination li a:hover{ border: 1px solid #fc3930; color: #fc3930;}
.pagination li a.hover{background:#fc3930; color: #ffffff; border: 1px solid #fc3930;}
.pagination li.tiao{ color: #666666; margin-left:10px;}


/**页码2**/
.pagination2{margin-top:30px; float: right; margin-right:25px;}
.pagination2 li{ float: left; margin: 0px 5px;}
.pagination2 li a{ display:inline-block; height: 30px; border: 1px solid #EEEEEE; border-radius: 3px; line-height: 30px; padding: 0px 11px; color: #333333; text-decoration: none; background: #ffffff; font-size: 12px;}
.pagination2 li a:hover{ border: 1px solid #2769DC; color: #2769DC;}
.pagination2 li a.hover{ background: #2769DC; color: #ffffff; border:1px solid #2769DC;}
.pagination2 li.tiao{ color: #333333; margin-left:10px; font-size: 12px; height: 30px;  padding: 0px 11px; border: 1px solid #EEEEEE; line-height: 30px;}



/**导航**/
.phpBgnav{ width: 100%; height: 60px; background:#fc3930; margin-top:90px;}
.phpBgnavIn{ width: 1380px; margin: auto; position:relative; }
.phpBgnavIn li{ float: left;}
.phpBgnavIn .bgLastli{float:right;}
.phpBgnavTitle a{ display: block; padding: 0px 30px; height: 60px; line-height: 60px; color: #ffffff; font-weight: bold; font-size: 18px; text-decoration: none; position: relative;}
.phpBgnavTitle a:hover{ background: #ec0303; color: #ffffff;}
.phpBgnavSub{width:1380px; background: #ffffff; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04); left: 0px; top: 60px; position:absolute; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04); padding-bottom: 20px; z-index: 10;} 
.phpQianIn{ width:1350px; margin: auto;}
.phpQianIn dl{ width: 1350px; margin-top:15px;}
.phpQianIn dl dt{font-weight: bold;}
.phpQianIn dl dd{ line-height: 32px; margin-top:10px;}
.phpQianIn dl dd a{ display:inline-block; position: relative;}
.phpQianIn dl dd span{ display:inline-block; color: #e7e7e7; margin: 0px 30px 0px 30px;}
.phpQianIn dl dd em{ display:inline-block; position: absolute;  top: 0px;}  
.phpQianIn dl dd em.icon1{ width: 22px; height: 12px; display: inline-block; background: url(../images/hot.png) no-repeat; background-size: contain; background-position: center; }
.phpQianIn dl dd em.icon2{ width: 22px; height: 12px; display: inline-block; background:url(../images/new.png) no-repeat; background-size: contain; background-position: center; }
.phpZxtjBox{ width:1350px; margin-top:15px;}
.phpZxtjTitle{ font-weight: bold; color: #333333;}
.phpQianList{ width: 1350px; }
.phpQianList li{ float: left; width:315px; margin-top:15px; margin-left:23px;}
.phpQianList li:nth-child(4n+1){margin-left:0px;}
.phpQianList li span a img{ display:block; width:130px; height: 80px; float: left;}
.phpQianList li .phpQianRight{ float: right; width:170px; margin-top:3px;}
.phpQianList li .phpQianRight h2 a{ display:block; height: 40px; line-height: 22px; overflow: hidden; font-size: 14px;}
.phpQianList li .phpQianRight p{ height: 18px; line-height: 18px; overflow: hidden; color: #c3c3c3; margin-top:15px; font-size: 12px;}
.phpQianList li .phpQianRight p b{ display:block; width:11px; height:11px; background:url(../images/bg1.png) no-repeat -300px -65px; 
    background: image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x)  no-repeat -300px -65px; 
    background: -webkit-image-set(url(../images/bg1.png) 1x, url(../images/bg1-2x.png) 2x) no-repeat -300px -65px; 
    float: left; margin: 3px 5px 0px 0px;}
.phpBgnavTitle a em{ display: block; float: left;  padding: 0 5px;height: 15px; line-height: 15px; background: #FFFFFF;border-radius: 8px;color: #fc3930; position:absolute; top: 15px; right:0px; font-size: 12px;}
.phpVvipSubmit a{ display: block; width: 178px; height: 60px; background: url(../images/hhl-bg25.png) no-repeat -130px -250px; margin-left:158px;}


/**侧导航**/
.phpSdhBox{ width: 95px; height: 479px !important; background: #ffffff; position:absolute; right: 2%; top: 40% !important; position:fixed;  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpSdhBox li{ width: 95px; height: 79px; border-bottom: 1px solid #eeeeee;}
.phpSdhIn{ width: 95px; height: 79px; position: relative;}
.phpSdhTitle{ width: 95px; height: 79px;}
.phpSdhTitle a{ display: block; width: 95px; height: 64px; text-decoration: none; padding-top: 15px;}
.phpSdhTitle a b{ display: block; width: 35px; height: 35px; background: url(../images/hhl-bg25.png) no-repeat; margin:auto; }
.phpSdhTitle a b.icon1{ background-position: 0px 0px;}
.phpSdhTitle a b.icon2{ background-position: -40px 0px;}
.phpSdhTitle a b.icon3{ background-position: -80px 0px;}
.phpSdhTitle a b.icon4{ background-position: -120px 0px;}
.phpSdhTitle a b.icon5{ background-position: -160px 0px;}
.phpSdhTitle a b.icon6{ background-position: -255px -330px;}
.phpSdhTitle a p{ color: #333333; text-align: center; margin-top:2px;}
.phpSdhSub{ width: 130px; height: 130px; background: #ffffff; position:absolute; left: -130px; top: -30px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpSdhSub img{ width: 112px; height: 112px; margin: 10px 0px 0px 10px;}
.phpSdhTitle a:hover{ background: #fc3930;}
.phpSdhTitle a:hover b.icon1{ background-position: 0px -45px;}
.phpSdhTitle a:hover b.icon2{ background-position: -40px -45px;}
.phpSdhTitle a:hover b.icon3{ background-position: -80px -45px;}
.phpSdhTitle a:hover b.icon4{ background-position: -120px -45px;}
.phpSdhTitle a:hover b.icon5{ background-position: -160px -45px;}
.phpSdhTitle a:hover b.icon6{ background-position: -300px -330px;}
.phpSdhTitle a:hover p{ color: #ffffff;}
@media screen and (max-width: 1650px) {
    .phpSdhBox {
      display: none;
    }
  }

  .phpSdhTitle a.hover b.icon1{ background-position: 0px -45px;}
  .phpSdhTitle a.hover b.icon5{ background-position: -160px -45px;}
  .phpSdhTitle a.hover{ background:#fc3930 ;}
  .phpSdhTitle a.hover p{ color: #ffffff;}

  

