*{padding: 0; margin: 0;}
html, body{font-size: 14px; color: #1A1A1A; font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei;}
body{overflow-x: hidden;}
body{background-color:  #F3F3F3;}
.body{ padding-bottom: 30px; }
ul,li{list-style: none;}
a{text-decoration: none;}
.dxSeat .cBlack:hover{color: #f11717;}
.aBlue, a.aBlue, .aBlue a{ color: #2080F8; text-decoration: none; }
.aWhite, a.aWhite, .aWhite a{ color: #FFFFFF; text-decoration: none; }
.aBlack, a.aBlack, .aBlack a{ color: #1A1A1A; text-decoration: none; }
.aGray, a.aGray, .aGray a{ color: #646566; text-decoration: none; }
.aLightGray, a.aLightGray, .aLightGray a{ color: #969799; text-decoration: none; }
.aOrange, a.aOrange, .aOrange a{ color: #FF6701; text-decoration: none; }
.aRed, a.aRed, .aRed a{ color: #FD4029; text-decoration: none; }
a:hover{ color: #2080F8; }
i, em{font-style: normal;}
b{font-weight: normal;}
.lineOverflow{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.lineTwoOverflow{ overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.lineThreeOverflow{ overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.lineFourOverflow{ overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.img_box, a.img_box{display:block; background: #F8F8FA;overflow: hidden;}
.pullLeft{
  float: left;
}
.pullRight{
  float: right;
}
.clear{display: block; clear: both;}
.clearfix:after {
content: ".";
display: block;
height: 0;
font-size: 0;
clear: both;
visibility: hidden;
}
.clearfix {
zoom: 1;
}
.br5{
  border-radius: 5px;
}
.bgWhite{
  background: #FFFFFF;
}
.overflowHidden{
  overflow: hidden;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center!important;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end!important;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between!important;
}

.flex-justify-space-around {
  display: flex;
  justify-content: space-around!important;
}

.flex-direction-row-reverse{
  flex-direction: row-reverse!important;
}

.flex-direction-column{
  flex-direction: column!important;
}

.flex-direction-column-reverse{
  flex-direction: column-reverse!important;
}

.align-items-center {
  align-items: center!important;
}

.align-items-stretch {
  align-items: stretch!important;
}

.align-items-start {
  align-items: start!important;
}

.align-items-end {
  align-items: end!important;
}

.align-items-baseline {
  align-items: baseline!important;
}

.relative{
  position: relative!important;
}

.absolute{
  position: absolute!important;
}

.box-sizing{
	box-sizing: border-box;
}

.border-radius-circle{
	border-radius: 50%;
}

input{outline: none; font-size: 14px;}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */color : #C8CACC;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color : #C8CACC;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color : #C8CACC;}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */color : #C8CACC;}
input::-ms-input-placeholder { /* Microsoft Edge */ color : #C8CACC;}

.cursorPointer{cursor:pointer;}
.leftBox1{margin-top: 8px;}
.leftContBox{ background: #FFFFFF; padding: 20px 0; margin-top: 30px; }
.one{ margin-top: 0 !important; }
.pt0{ padding-top: 0; }
.pdl20{ padding-left: 20px; padding-right: 20px; }
.mb30{ margin-bottom: 30px; }
.contTitMenu{position: relative;margin-top: 22px;border-bottom: 1px solid rgba(0,0,0,0.1);padding: 20px 20px 0;}
.contTitMenu:after{ content: ''; display: block; clear: both; }
.selfLeftHead .contTitMenu{ padding-top: 0; }
.contTitMenu li{float: left;line-height: 24px;font-size: 16px;margin-right: 32px;}
.contTitMenu li .timeLimitBox{ width: 90px; height: 30px; line-height: 30px; text-align: center; position: absolute; right: 20px; bottom: 14px; font-size: 14px; }
.contTitMenu li .timeLimitBox .show{ border: 1px solid #E6E7EB; color: #303313; border-radius: 4px; cursor: pointer; }
.contTitMenu li .timeLimitBox .show i{ display: inline-block; vertical-align: middle; margin-left: 6px; width: 10px; height: 6px; background: url(/static/newDowns/images/images/bg1.png) no-repeat -10px 0; }
.contTitMenu li .timeLimitBox:hover .show{ border-color: #2080F8; color: #2080F8; }
.contTitMenu li .timeLimitBox:hover .show i{ background-position: 0 0; }
.contTitMenu li .lineOverflow{position: relative;display: block;padding-bottom: 14px; cursor: pointer; }
.contTitMenu li.curr .lineOverflow{ font-weight: bold; }
.contTitMenu div.curr .lineOverflow{ font-weight: bold; }
.contTitMenu li.curr .lineOverflow:after{ content: ''; display: block; width: 24px; height: 2px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background: #F11716; }
.contTitMenu div.curr .lineOverflow:after{ content: ''; display: block; width: 24px; height: 2px; position: absolute; bottom: 0; left: 33%; transform: translateX(-50%); background: #303313; }
.contTitMenu li .selectList{ display: none; width: 100%; position: absolute; top: 32px; background: #FFFFFF; border-radius: 4px; font-size: 14px; text-align: center; }
.contTitMenu li .selectList a{ display: block; height: 38px; line-height: 38px; width: 100%; }
.contTitMenu li .timeLimitBox:hover .selectList{ display: block; box-shadow: 0 0 2px 0 rgba(0,0,0,0.1); }

.contTit{ border-bottom: 1px solid rgba(0,0,0,0.1); height: 54px; }
.contTit .tit{ float: left; line-height: 54px; font-size: 20px; font-weight: bold; }
.contTit .more{ float: right; height: 20px; color: #969799; line-height: 20px; margin-top: 17px; }
.contTit .more i{ font-size: 12px; margin-left: 3px; margin-top: -2px; }
.contTit .more:hover{ color: #2080F8; }

.rightContBox{ border: 1px solid #E6E7EB; border-top: 3px solid #2080F8; margin-top: 30px; }
.rightTit{ padding: 0 16px; height: 55px; line-height: 55px; border-bottom: 1px solid #E6E7EB; overflow: hidden; }
.rightTit .more{ float: right; color: #969799; font-size: 14px; }
.rightTit .more i{font-size: 12px;margin-left: 3px;}
.rightTit .more:hover{ color: #2080F8; }
.rightTit .tit{font-size: 20px; font-weight: bold;}

.downloadTit{ margin: 0 16px; height: 55px; line-height: 55px; border-bottom: 1px solid #E6E7EB; overflow: hidden; }
.downloadTit .more{ float: right; color: #969799; font-size: 14px; }
.downloadTit .more i{font-size: 12px;margin-left: 3px;}
.downloadTit .more:hover{ color: #2080F8; }
.downloadTit .tit{font-size: 20px; font-weight: bold; position: relative; float: left;}
.downloadTit .tit:after{ content: ''; display: block; width: 100%; height: 3px; background: #3B3C3E; position: absolute; bottom: 0; left: 0; }

.selfLeftContBox{border: 1px solid #E6E7E8;}
.selfLeftHead .otherLink{ float: left; height: 24px; line-height: 24px; border-left: 1px solid #E6E7EB; font-size: 16px; padding-left: 32px;}
.selfLeftTab{ padding: 0 20px; overflow: hidden; }
.selfLeftTab li{ float: left; height: 19px; line-height: 19px; margin-top: 16px; margin-right: 32px; }
.selfLeftTab li.curr, .selfLeftTab li.curr a{ color: #2080F8; }

.cont2{overflow: hidden;line-height: 16px;height: 16px;font-size: 12px;color: #969799;margin-top: 10px;}
.cont2 span{ float: left; margin-left: 24px; }
.cont2 span:first-child{ margin-left: 0; }
.cont2 span a{font-size:14px;color: #999999 ;}
.cont2 i{ display: block; margin-right: 5px; float: left; width: 16px; height: 16px; background: url(/static/newDowns/images/images/bg1.png) no-repeat; }
/* .cont2 .view{ background-position: 0 -10px; } */
.cont2 .view{
  margin-top: 3px;
  background: url(/static/newDowns/images/images/icon7.png) 0 0 no-repeat;
  background-size: contain;
}
.cont2 .time{ display: block; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/time.png);margin-top: 2px;}
.cont2 .download{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon5.png);background-size: cover;}
.cont2 .new{ display: block; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon5.png);background-size: cover;}
.cont2 .type{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon16.png);background-size: cover;}
.cont2 .source{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon20.png);background-size: cover;}
.cont2 .people{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon23.png);background-size: cover;}
.cont2 .comment{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon24.png);background-size: cover;}
.cont2 .support{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon27.png);background-size: cover;}
.cont2 .collect2{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon18.png);background-size: cover;}
.cont2 .collect3{ display: block; margin-top: 1px; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon19.png);background-size: cover;}

.cont2 .collect{ background-position: 0 -30px; }
.cont2 span.collectBtn{ cursor: pointer; }
.cont2 span.collectBtn.collected{ color: #FA8919; }
.cont2 span.collectBtn.collected .collect{ background-position: 0 -45px; }


/* header */
.header{width: 100%;height: 66px;line-height: 66px;background: #FFFFFF;border-bottom: 1px solid rgba(0,0,0,0.1);}
.headerIn{ width: 1200px; margin: 0 auto; }
.headerIn:after{ content: ''; display: block; clear: both; }
.header .headLogo{height: 50px;margin-right: 64px;float: left;margin-top: 8px;}
.header .headLogo img{height: 100%;}
.header .navList{ float: left; }
.header .navList li{float: left;margin-right: 50px;position: relative;font-size: 18px;color: #1A1A1A;height: 66px;}
.header .navList li.curr, .header .navList li.curr a{ color: #2080F8; font-weight: bold; }
.header .navList li.curr:after{ content: ''; width: 100%; height: 4px; background: #2080F8; position: absolute; bottom: 0; left: 0; }
.header .navList::after{ content: ''; display: block; clear: both; }
.header .rightBox{float: right; height: 66px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }
.header .searchBox{width: 238px; height: 36px; background: #F8F8FA; border-radius: 17px;float: right;}
.header .searchBox input[type='text']{border: none;background: none;height: 40px;line-height: 40px;width: calc(100% - 60px);float: left;padding: 0 12px;}
.header .searchBox input[type='submit']{width: 24px;height: 24px;border: 0;background: none;color:#CCCCCC;float: right;margin: 8px 10px 0 0;}
.header .loginBox{font-size: 15px;margin-left: 24px;color: #969799;}
.header .loginBox i{ width: 1px; height: 13px; background: #C8CACC; display: inline-block; vertical-align: middle; margin: 0 10px; }
/* footer */
.phpFoot .phpFootIn .cont2{
  height: 45px;
}
.footer{background: #F8F8FA; padding: 30px 0;}
.footerIn{ width: 1200px; margin: 0 auto; }
.footLeft{ width: 724px; float: left; }
.footer .linkBox{ height: 21px; font-size: 16px; font-weight: bold; line-height: 21px; }
.footer .linkBox a{ margin-right: 40px; }
.footTip{ height: 19px; color: #646566; line-height: 19px; margin-top: 24px; }
.footer .shareBox{ margin-top: 24px; overflow: hidden; }
.footer .shareBox span{ display: block; float: left; height: 32px; line-height: 32px; color: #646566; margin-right: 32px; }
.footer .shareBox span i{ display: block; float: left; width: 32px; height: 32px; margin-right: 12px; background: url(/static/newDowns/images/images/bg1.png) no-repeat; }
.footer .shareBox span i.wechat{ background-position: -130px 0; }
.footer .shareBox span i.qq{ background-position: -90px 0; }
.footer .copyRight{ height: 16px; font-size: 12px; color: #969799; line-height: 16px; padding-top: 20px;margin-top: 20px;border-top: 1px solid rgba(0,0,0,0.06); }
.footRight{ float: right; }
.encodeList li{ float: left; margin-left: 32px; text-align: center;}
.encodeList li:first-child{ margin-left: 0; }
.encodeList .encodeImg{width: 100px;height: 100px;padding: 9px;border-radius: 6px;border: 1px solid #E6E7EB;margin: 0 auto;}
.encodeList .encodeImg img{ width: 100%; }
.encodeList .tit{ height: 19px; line-height: 19px; white-space: nowrap; margin-top: 12px; }
.encodeList .tip{ height: 16px; font-size: 12px; color: #969799; line-height: 16px; white-space: nowrap; margin-top: 10px; }
/* main */
.main{width: 1380px; margin: 0 auto; padding-bottom: 32px; }
.main::after{ content: ''; display: block; clear: both; }
.mainLeft{width: 1020px;float: left;margin-top: 30px;}
.mainRight{ width: 328px; float: right; margin-top: 30px; }
/**页码**/
.mngfPage{width:100%;text-align:center;margin: 24px 0;}
.mngfPage a{height:31px; min-width: 31px; line-height:31px;display:inline-block;vertical-align: middle;color:#323233;text-decoration:none;border:1px solid #DCDEE0;padding:0px 10px; box-sizing: border-box; background:#FFFFFF;font-size:14px;margin-left:4px;border-radius: 3px;}
.mngfPage a.currentPage{color:#ffffff; background:#F11716 ; border:1px solid #F11716;}
.mngfPage a.nextPage, .mngfPage a.prevPage{position: relative;}
.mngfPage a.nextPage:after, .mngfPage a.prevPage:after{ content: ''; display: block; width: 8px; height: 14px; background: url(/static/newDowns/images/images/bg1.png) no-repeat; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.mngfPage a.nextPage:after{ background-position: -30px 0; }
.mngfPage a.prevPage:after{ background-position: -20px 0; }
.mngfPage.red a.currentPage{ background: #F11717; border:1px solid #F11717; }

.dxSeat.dxSeatTheme{
  padding: 13px;
  background: #ffffff;
  border-radius: 5px;
}
.dxSeat b {
  display: block;
  float: left;
  width: 14px;
  height: 15px;
  background: url(/static/newDowns/images/images/system_icon_place.png) no-repeat;
  margin: 3px 10px 0px 0px;
}

.cBlack a, .cBlack {
  color: #999999;
}
.dxSeat_{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 20px;
}
.tagdiv .tagshow{
  color: #000000;
  width: 64px;
  height: 42px;
  font-size: 32px;
  margin-top: 39px;
  font-weight: 700;
}
.tagdiv .tagcontent{
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 45px;
}

.selfCenterInfo,.selfLeftContBox,.rightContBox,.leftBox1{background-color: #ffffff; padding-bottom: 1px;}

.titleTheme .more{
  float: right;
  color: #969799;
  font-size: 14px;
}
.titleTheme .moreRight{
  float: right;
  color: #969799;
  font-size: 14px;
}
.titleTheme .moreRight span:hover a{ 
  color: #F11716;
}
.titleTheme .moreRight .new{ 
  background: url(/static/newDowns/images/images/icon11.png) 0 0 no-repeat;
  background-size: contain;
}
.titleTheme .moreRight span:hover .new{ 
  background: url(/static/newDowns/images/images/icon12.png) 0 0 no-repeat;
  background-size: contain;
}

.titleTheme .moreRight .hover .new{
  background: url(/static/newDowns/images/images/icon12.png) 0 0 no-repeat;
  background-size: contain;
}
.titleTheme .moreRight .hover a{
  color: #F11716;
}


.titleTheme .moreRight .download{
  margin-top: 2px;
  background: url(/static/newDowns/images/images/icon9.png) 0 0 no-repeat;
  background-size: contain;
}
.titleTheme .moreRight span:hover .download{
  background: url(/static/newDowns/images/images/icon10.png) 0 0 no-repeat;
  background-size: contain;
}


.titleTheme .moreRight .hover .download{
  background: url(/static/newDowns/images/images/icon10.png) 0 0 no-repeat;
  background-size: contain;
}




.titleTheme .moreRight .view{
  margin-top: 3px;
  background: url(/static/newDowns/images/images/icon7.png) 0 0 no-repeat;
  background-size: contain;
}
.titleTheme .moreRight span:hover .view{
  background: url(/static/newDowns/images/images/icon8.png) 0 0 no-repeat;
  background-size: contain;
}

.titleTheme .moreRight .hover .view{
  background: url(/static/newDowns/images/images/icon8.png) 0 0 no-repeat;
  background-size: contain;
}


.titleTheme>div{
  overflow: hidden;
}
.titleTheme h2{
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  color: #333333;
  font-weight: bold;
}
.titleTheme h2 i{
  display: inline-block;
  width: 4px;
  height: 100%;
  background: #F11716;
  vertical-align: middle;
  margin-right: 10px;
}
.titleTheme.themeRed h2 i{
  background: #F11717;
}
.listBlock,.listBlockHot{
  background: #FFFFFF;
  border-radius: 5px;
  padding: 26px 16px;
  overflow: hidden;
}

.listItemBox{
  margin-right: -20px;
}

.listItem {
  background: #F8F8F8;
  border-radius: 5px;
  padding: 15px 13px;
  float: left;
  width: 410px;
  margin-right: 20px;
  margin-bottom: 16px;
  transition: .3s all ease-in;
}

.listItem:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 30px 0px #E5E4E4;
  border-radius: 5px;
  transition: .3s all ease-in;
}

.listItemImg{
  float: left;
}

.listItemImg img{
  width: 72px;
  height: 72px;
  border-radius: 15px;
}

.listItemContent{
  float: right;
  width: 310px;
}

.listItemContent .title{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}

.listItemContent .title a{
  font-size: 14px;
  color: #333333;
}

.listItemContent .describe{
  font-size:14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  height: 37px;
}

.listItemContent .subDescribe{
  margin-top: 16px;
  font-size: 12px;
  color: #999999;
  line-height: 20px;
}
.listItemContent .subDescribe span{
  color: #F11717;
}

.listItemBoxSmall{
  margin-right: 0;
}

.listItemBoxSmall .listItem{
  width: 100%;
  padding: 10px 13px;
  margin-right: 0;
  margin-bottom: 0;
  background: #fff;
  box-sizing: border-box;
}

.listItemBoxSmall .listItem:hover{
  background: #FFFFFF;
  box-shadow: none;
  border-radius: 0;
}

.listItemBoxSmall .listItemContent{
  width: 210px;
}

.listItemBoxSmall .listItemContent .title {
    margin-bottom: 10px;
}


.listItemBoxSmall .listItemContent .cont2{overflow: hidden;line-height: 16px;height: 16px;font-size: 12px;color: #969799;margin-top: 10px;}
.listItemBoxSmall .listItemContent .cont2 span{ float: left; margin-left: 24px; }
.listItemBoxSmall .listItemContent .cont2 span:first-child{ margin-left: 0; }
.listItemBoxSmall .listItemContent .cont2 i{ display: block; margin-right: 5px; float: left; width: 16px; height: 16px; background: url(/static/newDowns/images/images/bg1.png) no-repeat; }
.listItemBoxSmall .listItemContent .cont2 .view{ background-position: 0 -10px; }
.listItemBoxSmall .listItemContent .cont2 .time{ display: block; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/time.png);}
.listItemBoxSmall .listItemContent .cont2 .download{ display: block; margin-right: 5px; float: left; width: 13px; height: 13px; background: url(/static/newDowns/images/images/icon5.png);background-size: cover;}
.listItemBoxSmall .listItemContent .cont2 .collect{ background-position: 0 -30px; }
.listItemBoxSmall .listItemContent .cont2 span.collectBtn{ cursor: pointer; }
.listItemBoxSmall .listItemContent .cont2 span.collectBtn.collected{ color: #FA8919; }
.listItemBoxSmall .listItemContent .cont2 span.collectBtn.collected .collect{ background-position: 0 -45px; }


.listSwiperImg {
  height: 140px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto 18px;
 }
 
 .listSwiperImg img{
  width: 100%;
  min-height: 100%;
 }


.listSwiperContent .title{
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
}

.listSwiperContent .title a{
  font-size: 14px;
  color: #333333;
}

.listSwiperContent .describe{
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  margin-bottom: 14px;
}

.listSwiperContent .subBlock .tag{
  float: left;
  width: 75px;
  height: 25px;
  background: #FDF4F4;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #F11716;
  line-height: 25px;
}

.listSwiperContent .subBlock .time{
  float: right;
  height: 25px;
  font-size: 13px;
  color: #999999;
  line-height: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.listSwiperContent .subBlock .time i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(/static/newDowns/images/images/icon2.png) 0 0 no-repeat;
  background-size: cover;
  margin-right: 6px;
}

.listSwiperBox .swiper-button-next,.listSwiperBox .swiper-button-prev{
  width: 45px;
  height: 45px;
}
.listSwiperBox .swiper-button-next img,.listSwiperBox .swiper-button-prev img{
  width: 45px;
  height: 45px;
}
.listSwiperBox .swiper-button-next:after,.listSwiperBox  .swiper-rtl .swiper-button-prev:after,
.listSwiperBox .swiper-button-prev:after,.listSwiperBox  .swiper-rtl .swiper-button-next:after{
  content: '';
}

.hotNewsBanner2{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.hotNewsBanner2 .img_box{
  background: none;
  width: 100%;
  position: relative;
  height: 160px;
  overflow: hidden;
  border-radius: 5px;
}

.hotNewsBanner2 .img_box img{
  width: 100%;
  height: 100%;
}
.hotNewsBanner2 .img_box p{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #FFFFFF;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 0px 0px 5px 5px;
  font-weight: bold;
  text-align: center;
}

.describeBlock{
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px 0px #E5E4E4;
  border-radius: 5px;
}
.describeBlock h3{
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #F3F3F3;
  margin-bottom: 24px;
  padding-bottom: 15px;
}
.describeBlock p{
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}

.listBox li{
  float: left;
  width: 254px;
  height: 312px;
  overflow: hidden;
  margin-right: 16px;
  margin-bottom: 26px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  position: relative;
}

.listBox .listContent .describe{
  height: 40px;
}

.listImg {
  height: 140px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.listImg img{
  width: 100%;
  height: 140px;
}

.listContent{
  padding: 15px 2px;
}

.listContent .title{
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.listContent .title a{
  font-size: 14px;
  color: #333333;
}

.listContent .describe{
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  margin-bottom: 14px;
}

.listContent .subBlock .tag{
  float: left;
  width: 70px;
  height: 25px;
  background: #FDF4F4;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #F11716;
  line-height: 25px;
}

.listContent .subBlock .time{
  float: right;
  height: 25px;
  font-size: 13px;
  color: #999999;
  line-height: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.listContent .subBlock .time i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(/static/newDowns/images/images/icon2.png) 0 0 no-repeat;
  background-size: cover;
  margin-right: 6px;
}

.subContent{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.subContent .cont2{
  margin-top: 0;
}

.listItemContent{ float: left; margin-left:10px;}
.listHuang li{ width:235px !important;}