@charset "utf-8";
/* CSS Document */

/***********************************首页***********************************/
/**第一栏**/
.phpFirBox{ width: 1200px; margin-top:30px;}
.phpFirLeft{ float: left; width: 166px; position: relative;}
.phpQian{ width: 160px; height: 392px; background: #ffffff; border-radius: 12px; padding-top: 8px;}
.phpQianMenu{ width: 126px; margin: auto;} 
.phpQianMenu li a{display: block;width: 126px;height: 40px;margin-top:7px;color: #333333;text-decoration:none;text-align:center;line-height:40px; overflow: hidden;box-sizing: border-box;}
.phpQianMenu li.current a{ width: 126px; height: 41px; background: #fef6f6; border-radius: 100px; color: #f11717;box-sizing: border-box}
.phpQianBg{ width:750px; height: 400px; background: #ffffff; border-radius: 12px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04); position:absolute; left: 166px; top: 0px; z-index: 8;}
.phpQianIn{ width:640px; margin: auto; position: relative; height: 355px;}
.phpQianIn dl{ width: 640px; margin-top:18px;}
.phpQianIn dl dt{font-weight: bold;}
.phpQianIn dl dd{ line-height: 32px; margin-top:5px;}
.phpQianIn dl dd a{ display:inline-block; position: relative;}
.phpQianIn dl dd span{ display:inline-block; color: #e7e7e7; margin: 0px 20px 0px 20px;}
.phpQianIn dl dd em{ display:inline-block; position: absolute;  top: 0px;}  
.phpQianIn dl dd em.icon1{ width: 22px; height: 12px; display: inline-block; background: url(/static/newDowns/images/hot.png) no-repeat; background-size: contain; background-position: center; }
.phpQianIn dl dd em.icon2{ width: 22px; height: 12px; display: inline-block; background:url(/static/newDowns/images/new.png) no-repeat; background-size: contain; background-position: center; }
.phpZxtjBox{ width: 640px; position:absolute; left: 0px; bottom:-10px;}
.phpZxtjTitle{ font-weight: bold; color: #333333;}
.phpQianList{ width: 640px; }
.phpQianList li{ float: left; width:300px; margin-top:15px; margin-left:40px;}
.phpQianList li:nth-child(2n+1){margin-left:0px;}
.phpQianList li span a img{ display:block; width:80px; height: 52px; border-radius: 3px; float: left;}
.phpQianList li .phpQianRight{ float: right; width:205px; margin-top:5px;}
.phpQianList li .phpQianRight h2 a{ display:block; height: 18px; line-height: 18px; overflow: hidden; font-size: 14px;}
.phpQianList li .phpQianRight p{ height: 18px; line-height: 18px; overflow: hidden; color: #c3c3c3; margin-top:10px; font-size: 12px;}
.phpQianList li .phpQianRight p b{ display:block; width:11px; height:11px; background:url(/static/newDowns/images/bg1.png) no-repeat -300px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -300px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -300px -65px; 
    float: left; margin: 3px 5px 0px 0px;}
 
.phpFirMiddle{ width:810px; float: left; margin-left:14px;}
.sjyx_banSwiper{ width:810px;height: 400px; border-radius:12px;}
.sjyx_banSwiper img{ width:810px; min-height: 400px; transition: transform 0.5s; }
.sjyx_banSwiper li:hover img{ transform:scale(1.1); transition: transform 0.5s; }
.sjyx_banSwiper .swiper-pagination{ width: auto; left: initial; right: 18px; bottom: 27px; }
.sjyx_banSwiper .swiper-pagination-bullet{ width: 12px; height: 12px; background: #fafafa; opacity: 0.3; border-radius: 100px;}
.sjyx_banSwiper .swiper-pagination-bullet-active{ background: #f11717; width: 26px; height: 12px; opacity: 1;}
 
.phpFirRight{ float: right; width: 190px; height: 400px; background: #ffffff; border-radius: 12px;}
.phpTbxxTitle1{ width: 190px; height: 141px; border-bottom: 1px solid #eeeeee;}
.phpTbxxCont1{ width: 150px; margin: auto;}
.phpTbxxCont1 span a img{ float: left; width: 40px; height: 40px; border-radius: 100px; display:block; margin-top:20px; filter: grayscale(100%);}
.phpTbxxCont1 dl{ float: right; width: 96px; margin-top:33px;}
.phpTbxxCont1 dl dt{ height: 18px; line-height: 18px; overflow: hidden; color: #999999;}
.phpTbxxDeng{ width: 150px; margin: auto; margin-top:25px;}
.phpTbxxDeng a.bg1{ float: left; display:block; width: 70px; height: 34px; background: #f11717; line-height: 34px; overflow: hidden; text-align: center; border-radius: 100px; color: #ffffff; text-decoration: none;}
.phpTbxxDeng a.bg2{ width: 70px; height: 34px; float: right; box-sizing: border-box; border: 1px solid #e6e6e6; background: #fafafa; line-height: 34px; overflow: hidden; text-align: center; border-radius: 100px; text-decoration: none; color: #666666;}
.phpTbxxTitle2{ width: 190px; height: 141px; border-bottom: 1px solid #eeeeee;}
.phpTbxxCont2{ width: 155px; margin: auto;}
.phpTbxxCont2 span a img{ float: left; width: 40px; height: 40px; border-radius: 100px; display:block; margin-top:20px;}
.phpTbxxCont2 dl{ float: right; width:105px; margin-top:15px;}
.phpTbxxCont2 dl dt{ height: 18px; line-height: 18px; overflow: hidden;}
.phpTbxxCont2 dl dt a{  max-width: 75px;  font-weight:bold; float: left;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.phpTbxxCont2 dl dt b{ display:block; width: 26px; height: 12px; background: url(/static/newDowns/images/bg1.png) no-repeat; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat; 
    float: left; margin-left:5px; margin-top:3px;}
.phpTbxxCont2 dl dt b.icon1{ background-position: -225px -25px;}
.phpTbxxCont2 dl dt b.icon2{ background-position: -260px -25px;}
.phpTbxxCont2 dl dd{ height: 16px; line-height: 16px; overflow: hidden; font-size: 12px; color: #999999; margin-top:10px;}
.phpTbxxXue a{ display: block; width: 150px; height: 34px; background: #f11717; border-radius: 100px; line-height: 34px; text-align: center; color: #ffffff; text-decoration: none; overflow: hidden; margin-top:20px; margin-left:20px;}
.phpTbxxXue a:hover{ background: #e11717;}
.phpWenda{ width: 150px; margin: auto; padding-top:7px;}
.phpWenda p.cont1{ height: 18px; line-height: 18px; overflow: hidden;}
.phpWenda p.cont1 span{ color: #333333;}
.phpWenda p.cont1 a{ display:inline-block; width: 31px; height: 16px; background: #ff583d; border-radius: 2px; font-size: 12px; color: #ffffff; line-height: 16px; text-align: center; text-decoration: none;}
.phpWenda p.cont2{ height: 41px; line-height: 22px; overflow: hidden;}
.phpWenda p.cont2 a{ color: #b6b6b6; text-decoration: none;}
.phpWenda p.cont2 a:hover{ color:#f11717 ; text-decoration: underline;}
.phpWenda p.cont3{  height: 18px; line-height: 18px; overflow: hidden;}
.phpWenda p.cont3 a{ color: #b6b6b6; text-decoration: none;}
.phpWenda p.cont3 a:hover{ color:#f11717 ; text-decoration: underline;}
.phpWenda p{ margin-top:17px;}
.phpWenda p.cont2 span{ display: block; float: left;}
.phpWenda p.cont2 em{ display: block; float: right; width: 108px;}
.phpWenda p.cont2 em i{ font-style:normal; display: block;  overflow: hidden;}

/**学习路径**/
.phpXxljBox{ width: 1200px; margin-top:20px;}
.phpXxljLeft{ float: left; width: 990px; height: 80px; background:#ffffff; border-radius: 12px;}
.phpXxljTitle{ float:left; width: 75px; margin: 20px 0px 0px 25px;}
.phpXxljTitle span{ display:block; height: 18px; line-height: 18px; overflow: hidden;}
.phpXxljTitle em{ display:block; height: 16px; line-height: 16px; overflow: hidden; font-size: 12px; color: #999999; white-space: nowrap; margin-top:5px;}
.ylyHjtjbTu{ width: 855px; height: 37px;  margin-top:22px; float: left; margin-left:15px;}
.ylyHjtjbSwiper{ width: 855px; height: 37px !important; position: relative; overflow: hidden; }
.ylyHjtjbSwiper .swiper-wrapper{ width: 855px !important; margin: auto;}
.ylyHjtjbSwiper .swiper-slide{ float: left; width: 100% !important;}
.ylyHjtjbSwiper .swiper-slide a{ display:block; width: 130px !important;  text-decoration: none; height: 37px; position:relative; float: left; margin-left:35px;}
.ylyHjtjbSwiper .swiper-slide a img{ width: 36px; height: 36px; border-radius: 2px; float: left;}
.ylyHjtjbSwiper .swiper-slide a dl{ float: right; width: 85px;}
.ylyHjtjbSwiper .swiper-slide a dl dt{ height: 18px; line-height: 18px; overflow: hidden;}
.ylyHjtjbSwiper .swiper-slide a dl dd{ height: 16px; line-height: 16px; overflow: hidden; color: #999999; font-size: 12px; margin-top:3px;}
.ylyHjtjbSwiper .swiper-button-prev{ width: 14px; height: 29px; background:url(/static/newDowns/images/bg1.png) no-repeat -315px 0px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -315px 0px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -315px 0px; 
    z-index: 90; position: absolute; left: 0px; top: 25px; opacity: 1; }
.ylyHjtjbSwiper .swiper-button-next{ width: 14px; height: 29px; background:url(/static/newDowns/images/bg1.png) no-repeat -355px 0px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -355px 0px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -355px 0px; 
    z-index: 90; position: absolute; right: 0px; top: 25px; opacity: 1;}
.ylyHjtjbSwiper .swiper-button-prev:hover{ background-position: -335px 0px;}
.ylyHjtjbSwiper .swiper-button-next:hover{ background-position: -375px 0px;}
.phpXxljRight{ float: right; width: 190px; height: 80px; background: #ffffff; border-radius: 12px;position: relative;}
.phpXxljMenu{ width:190px;}
.phpXxljMenu li{ float: left; width:70px; margin-top:13px; margin-left:20px;}
.phpXxljMenu li a{ display:inline-block; text-decoration:none; text-align: center;}
.phpXxljMenu li a b{ display:inline-block; width: 30px; height: 30px; background: url(/static/newDowns/images/bg1.png) no-repeat; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat; }
.phpXxljMenu li a b.icon1{ background-position: 0px -60px;}
.phpXxljMenu li a b.icon2{ background-position: -40px -60px;}
.phpXxljMenu li a h2{ font-size: 12px; font-weight: bold;  height: 16px; line-height: 16px; overflow: hidden; margin-top:5px;}
.phpXxljMenu .phprecodeIndex{position: absolute;width:100px;height: 100px;left:0;top:81px;display: none;}
.phpXxljMenu li span{ display: block; width: 100px; background: #ffffff; position:absolute; z-index: 100; top: 74px; left: 0px; border: 1px solid #eeeeee; border-radius: 6px; box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.05); padding-bottom: 5px;} 
.phpXxljMenu li span img{ width:100px; height: 100px; border-radius: 6px 6px 0px 0px;}
.phpXxljMenu li span p{ text-align: center; margin-top:2px; font-size: 12px;}


 
/**直播课堂**/
.phpZbktBox{ width: 1200px; margin-top:40px;}
.phpZbktTitle h2{ float: left; font-size: 22px; font-weight: bold; color: #333333;}
.phpZbktTitle a{ display:block; width: 78px; height: 32px; background: #f0f1f4; float: right; border-radius: 100px; text-align: center; line-height: 32px; overflow: hidden; color: #999999; text-decoration: none;}
.phpZbktTitle a:hover{ background: #f11717; color: #ffffff;}
.phpZbktIn{ width: 1200px;}
.phpZbktLeft{ float:left; width: 890px;}
.phpZbktList{ width: 890px;}
.phpZbktList li{ float: left; width: 280px; height: 275px; background: #ffffff; border-radius:6px; margin-top:25px; margin: 25px 0px 0px 25px;}
.phpZbktList li:nth-child(3n+1){ margin-left:0px;}
.phpZbktList li:hover{box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpZbktImg{ width: 280px; height: 160px; position:relative; border-radius: 6px 6px 0px 0px;}
.phpZbktImg a{ display: block; height: 160px; width: 280px; overflow: hidden; border-radius: 6px 6px 0px 0px;}
.phpZbktImg a img{ width: 280px; height: 160px; border-radius: 6px 6px 0px 0px; transition: all 0.2s;}
.phpZbktImg a:hover img{ transform:scale(1.1);}
.phpZbktZhi{ height: 22px; background: linear-gradient(to top, rgb(235, 196, 134), rgba(250, 228, 193)); padding: 0px 3px 0px 3px; position:absolute; right: 8px; border-radius: 3px; color: #93652a; top: 8px; font-size: 12px; line-height: 22px;}
.phpZbktBg{ width: 280px; height: 38px; background:rgba(0,0,0,0.4); position:absolute; bottom:0px; left: 0px;}
.phpZbktName{ width: 245px; margin: auto;}
.phpZbktName dl dt a{ display: block; height: 50px; line-height: 25px; margin-top:15px; overflow: hidden; font-size: 16px;}
.phpZbktName dl dd{ width: 245px; margin-top:15px;}
.phpZbktName dl dd p{ float: left; width: 120px; height: 18px; line-height: 18px; overflow: hidden; color: #f11717;}
.phpZbktName dl dd span{ display: block; float: right; width: 100px; height: 18px; line-height: 18px; overflow: hidden; text-align: right; color: #b7b7b7;}

.phpZbktRight{ float: right; width: 280px; height: 275px; background: #ffffff; border-radius: 15px;  margin-top:25px; }
.phpZbktRightIn{ width:280px; height: 240px; overflow-y: auto; overflow-x: hidden; margin-top:20px;}
.phpZbktNodejs{ width: 240px; height: 240px; margin: auto;}
.phpZbktNodeIn{ width: 230px;}
.phpZbktNodeIn::after{content: ""; display: block; left: 7px;width: 1px; background: hsla(0,0%,69.8%,.2); padding-top:70px; bottom: 0;}
.phpZbktNodeIn span{ width: 6px; float: left; height: 6px; background: #d6dae8; border: 4px solid #f6f7fb; border-radius: 50%; transition: all .2s linear; display: block; margin-left:-6px;}
.phpZbktNodeIn dl { float: left; width: 210px; margin-left:12px; margin-top:-2px;}
.phpZbktNodeIn dl a{ display: block;}
.phpZbktNodeIn dl a dt{ display: block; height: 20px; line-height:20px; overflow: hidden; font-size: 15px;}
.phpZbktNodeIn dl a dd{ height: 18px; line-height: 18px; overflow: hidden; color: #b7b7b7; margin-top:5px;}
.phpZbktNodeIn dl a:hover{ text-decoration: none;}
.phpZbktNodeIn:hover span{ background: #f11717;}

.phpZbktBg em{ display: block; float: left; font-size: 12px; color: #ffffff; margin:10px 0px 0px 10px;}
.phpZbktBg span{ margin:10px 5px 0px 0px; display: block; float: left; color: #ffffff; font-size: 12px;}
.phpZbktBg span b{display: block; float: left; height: 19px; border-radius: 2px; background: #f11717; padding: 0px 5px; color: #ffffff; font-weight:normal;}


/**最新课程**/
.phpZxkcList{ width: 1200px;}
.phpZxkcList li{ float: left; width: 224px; height: 235px; border-radius: 6px; background: #ffffff; margin: 30px 0px 0px 20px;}
.phpZxkcList li:hover{ box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpZxkcList li:nth-child(5n+1){ margin-left:0px;}
.phpZxkcList li span a{ display: block; width: 224px; height: 130px; overflow: hidden; border-radius: 6px 6px 0px 0px;}
.phpZxkcList li span a img{ width: 224px; height: 130px; border-radius: 6px 6px 0px 0px; transition: all 0.2s;}
.phpZxkcList li span a:hover img{ transform:scale(1.1);}
.phpZxkcList li dl{ width: 188px; margin: auto;}
.phpZxkcList li dl dt{ margin-top:18px; height: 45px; overflow: hidden; line-height: 25px;}
.phpZxkcList li dl dt i{ display: block; float:left; width: 28px; height: 16px; line-height: 16px; overflow: hidden; text-align: center; font-style: normal; font-size: 11px; color: #ffffff; margin-right: 10px;margin-top:3px; border-radius: 2px; padding: 2px 4px;}
.phpZxkcList li dl dt i.bg1{ background:#E0E8FC ; color: #298AFD; }
.phpZxkcList li dl dt i.bg2{ background:#FCE7E0; color: #FD4029;}
.phpZxkcList li dl dt i.bg3{ background:#FCF3E0; color: #FB6401;}
.phpZxkcList li dl dd{ margin-top:15px;}
.phpZxkcList li dl dd p{ float: left; width: 110px; height: 16px; line-height: 16px; overflow: hidden; font-size: 12px; color: #b7b7b7;}
.phpZxkcList li dl dd em a{ display: block; float: right; font-size: 12px; color: #b7b7b7; text-decoration: none;}
.phpZxkcList li dl dd em a b{ display: block; width: 11px; height: 11px; background: url(/static/newDowns/images/bg1.png) no-repeat -80px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -80px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -80px -65px; 
    float: left; margin: 3px 5px 0px 0px;}
.phpZxkcList li dl dd em.phpshouchang a b{ background-position: -95px -65px;}


/**词典分类**/
.phpCdflBox{ width: 1200px; height: 330px; background: #ffffff; border-radius: 12px; margin-top:40px;}
.phpCdflLeft{ float: left; width: 220px; height: 330px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpCdflLeft h2{ font-weight: bold; font-size: 16px; color: #333333; margin: 19px 0px 0px 30px; }
.phpCdflMenu{ width: 160px; margin: auto;}
.phpCdflMenu li{ margin-top:19px; width: 190px;}
.phpCdflMenu li a{ display:block; height: 20px; line-height: 20px; overflow: hidden; text-decoration: none;}
.phpCdflMenu li a b{ display: block; width: 14px; height: 14px; background: url(/static/newDowns/images/bg1.png) no-repeat -115px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -115px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -115px -65px; 
    float: left; margin: 4px 5px 0px 0px;}
.phpCdflMenu li a span{ display: block; color: #333333;}
.phpCdflMenu li a span em{ color: #b7b7b7; margin-left:10px;}
.phpCdflMenu li a:hover span{ color: #f11717; text-decoration: underline;}
.phpCdflMenu li a:hover span em{ color: #f11717; text-decoration: underline;}
.phpCdflRight{ float: right; width: 980px;}
.phpCdflNav{ height: 39px; border-bottom: 1px solid #f6f6f6; margin-top:20px;}
.phpCdflNav li{ float: left; height: 39px; font-size: 16px; font-weight: bold; color: #333333; margin: 0px 40px 0px 40px; cursor: pointer;}
.phpCdflNav li b{ width:18px; height:3px; background: #ffffff; display: block; margin: auto; margin-top:15px;}
.phpCdflNav li.current{ color: #f11717;}
.phpCdflNav li.current b{ background: #f11717;}
.phpCdflIn{ width: 800px; margin: auto;}
.phpCdflIn dl{ width: 800px;}
.phpCdflIn dl dt{ margin-top:35px; text-align: center;}
.phpCdflIn dl dt h2{ font-size: 20px; height: 24px; line-height: 24px; overflow: hidden; color: #333333; font-weight: bold;}
.phpCdflIn dl dt p{height: 18px; line-height: 18px; overflow: hidden; color: #666666; margin-top:14px;}
.phpCdflIn dl dd.cont1{ width: 800px; height: 60px; border-radius: 6px; background: #fef6f6; margin-top:30px;}
.phpCdflIn dl dd.cont1 b{ display: block; float: left; width: 18px; height: 18px; background: url(/static/newDowns/images/bg1.png) no-repeat -140px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -140px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -140px -65px;
    margin: 22px 0px 0px 20px;}
.phpCdflIn dl dd.cont1 input.text1{ float: left; width: 600px; height: 60px; border:none; background: none; outline: none; margin-left:10px; color: #999999;}
.phpCdflIn dl dd.cont1 input.submit1{ width: 90px; height: 60px; border: none; background: none; background: #f11717; float: right; border-radius: 0px 6px 6px 0px; font-size: 16px; color: #ffffff; font-weight: bold; outline: none; cursor: pointer;}
.phpCdflIn dl dd.cont2{ width: 800px; height: 32px; overflow: hidden; margin-top:30px;}
.phpCdflIn dl dd.cont2 em{ display: block; float: left; line-height: 32px;}
.phpCdflIn dl dd.cont2 span{ float: right; display: block; width: 720px;}
.phpCdflIn dl dd.cont2 span a{ display: block; float: left; height: 32px; box-sizing: border-box; border: 1px solid #e6e6e6; padding: 0px 20px; border-radius: 100px; line-height: 32px; color: #999999; text-decoration: none; margin-right:20px;}
.phpCdflIn dl dd.cont2 span a:hover{ border: 1px solid #f11717; color: #f11717;}
.phpCdflList{ width: 900px; margin: auto;}
.phpCdflList li{ width:199px; height: 83px; background: #f7f8fa; border-radius: 3px; padding-top: 12px; margin: 27px 0px 0px 34px; float: left;}
.phpCdflList li:nth-child(4n+1){margin-left:0px;}
.phpCdflList li a{ display: block; width: 195px; height: 95px;}
.phpCdflList li a dl { width: 160px; margin: auto; display: block;}
.phpCdflList li a dl dt { display: block; height: 18px; line-height: 18px; overflow: hidden; font-weight: bold;}
.phpCdflList li a dl dd{ margin-top:10px;}
.phpCdflList li a dl dd span img{ float: left; width: 38px; height: 38px; border-radius: 100px; margin-top:3px;}
.phpCdflList li a dl dd em{ display: block; float: right; width: 110px; font-size: 12px; color: #999999; overflow: hidden; height: 40px; line-height: 22px;}
.phpCdflCont{ width: 900px; margin: auto; height: 215px; overflow: hidden; margin-top:15px;}
.phpCdflCont a{ display: block; float: left; height: 40px; background: #f7f8fa; padding: 0px 20px; border-radius: 100px; line-height: 40px; color: #333333; text-decoration: none; margin: 30px 13px 0px 0px;}
.phpCdflCont a:hover{ background: #f11717; color: #ffffff;}


/**手册教程**/
.phpScjcMenu{ float: left; margin-left:10px;}
.phpScjcMenu li{ float: left; height: 32px; box-sizing: border-box; border: 1px solid #e6e6e6; line-height: 32px; border-radius: 100px; padding: 0px 18px; color: #999999; cursor: pointer; margin-left:20px;}
.phpScjcMenu li.current{ background: #f11717; color: #ffffff; border: 1px solid #f11717;}
.phpScjcList{ width: 1200px;}
.phpScjcList li{ float: left; width: 285px; height: 140px; background: #ffffff; border-radius: 12px; margin: 30px 0px 0px 20px;}
.phpScjcList li:nth-child(4n+1){ margin-left:0px;}
.phpScjcList li a{ display: block; width: 285px; height: 140px;}
.phpScjcList li a span{ display: block; width: 90px; height: 90px; display: flex; align-items: center; justify-content: center; margin: 25px 0px 0px 20px; float: left; overflow: hidden;}
.phpScjcList li a span img{/*max-width: 90px;*/max-height: 90px; transition: all 0.2s;transform:translateX(20%);-ms-transform:translateX(20%);-webkit-transform:translateX(20%);}
.phpScjcList li a span img:hover{ transform:scale(1.1);}
.phpScjcList li a dl{ float: left; width: 140px; margin:28px 0px 0px 10px;}
.phpScjcList li a dl dt{ display: block; height: 18px; line-height: 18px; overflow: hidden; font-weight: bold;}
.phpScjcList li a dl dd{ height: 40px; line-height: 22px; overflow: hidden; color: #999999; margin-top:15px;}
.phpScjcList li:hover{ box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}


/**资源下载**/
.phpZyxzBox{ width: 1200px; margin-top:40px;}
.phpZyxzLeft{ float: left; width: 955px;}
.phpZyxzMenu{ float: left; margin-left:10px;}
.phpZyxzMenu li{ float: left; margin-left:20px;}
.phpZyxzMenu li a{ display: block; border:none; background: none; color: #999999; height: 32px; box-sizing: border-box; border: 1px solid #e6e6e6; padding:0px 18px; width: auto;}
.phpZyxzMenu li.current a{ border:1px solid #f11717; background: #f11717; color: #ffffff;}
.phpZyxzMenu li a:hover{ border:1px solid #f11717;}
.phpZyxzList{ width: 955px; height: 530px;}
.phpZyxzList li{ float:left; width: 224px; height: 235px; background: #ffffff; border-radius: 6px; margin:32px 0px 0px 19px;}
.phpZyxzList li:hover{ box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpZyxzList li:nth-child(4n+1){ margin-left:0px;}
.phpZyxzList li span a{ display: block; width: 224px; height: 128px; overflow: hidden; border-radius: 6px 6px 0px 0px;}
.phpZyxzList li span a img{ width: 224px; height: 128px; border-radius: 6px 6px 0px 0px; transition: all 0.2s;}
.phpZyxzList li span a:hover img{ transform:scale(1.1);}
.phpZyxzList li dl{ width: 190px; margin: auto;}
.phpZyxzList li dl dt a{ height: 45px; line-height: 23px; overflow: hidden; margin-top:12px; display: block;}
.phpZyxzList li dl dd{ margin-top:12px;}
.phpZyxzList li dl dd em{ display: block; float: left; width: 110px; height: 22px; overflow: hidden;}
.phpZyxzList li dl dd em a{ display: block; float: left; height: 22px; background: #fef6f6; font-size: 12px; color: #666666; text-decoration: none; line-height: 22px; overflow: hidden; border-radius: 3px; padding:0px 5px; margin-left: 10px;}
.phpZyxzList li dl dd em a:first-child{ margin-left:0px;}
.phpZyxzList li dl dd em a:hover{ background: #f11717; color: #ffffff;}
.phpZyxzList li dl dd i{ display: block; float: right; width: 70px; height: 16px; line-height: 16px; overflow: hidden; font-style: normal; font-size: 12px; color: #b7b7b7; margin-top:3px;}
.phpGjxzList{ width: 955px; height: 530px;}
.phpGjxzList li{ float: left; width: 298px; height: 99px; border-radius:6px; background: #ffffff; margin: 33.5px 0px 0px 30px;}
.phpGjxzList li:nth-child(3n+1){ margin-left:0px;}
.phpGjxzList li:hover{ box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpGjxzList li a{ display: block; width: 298px; height: 99px;}
.phpGjxzList li a span{ display: block; float: left; width: 50px; height: 50px; overflow: hidden; margin: 25px 0px 0px 30px;}
.phpGjxzList li a span img{ width: 50px; height: 50px; transition: all 0.2s;}
.phpGjxzList li a span img:hover{ transform:scale(1.1);}
.phpGjxzList li a dl{ float: left; width: 175px; margin: 30px 0px 0px 20px; }
.phpGjxzList li a dl dt{ height: 18px; line-height: 18px; overflow: hidden; font-weight: bold; white-space: nowrap;}
.phpGjxzList li a dl dd{ height: 16px; line-height: 16px; overflow: hidden; font-size: 16px; white-space: nowrap; color: #999999; font-size: 12px; margin-top:10px;}
.phpZyxzRight{ float: right; width: 224px;}
.phpXzphBox{ width: 224px; height: 498px; background: #ffffff; margin-top:35px; border-radius: 12px; overflow: hidden;}
.phpXzphList{ width: 195px; margin: auto;}
.phpXzphList li{ width: 195px; margin-top:24px;}
.phpXzphList li span{ display: block; float: left; width:25px; text-align: center; height: 24px; line-height: 24px; overflow: hidden; font-size: 20px; color: #d7d9e1;}
.phpXzphList li span.bg1{ color: #e62021;}
.phpXzphList li span.bg2{ color: #f09324;}
.phpXzphList li span.bg3{ color: #fbd978;}
.phpXzphList li a{ display: block; float: left; width: 101px; height: 24px; line-height: 24px; overflow: hidden; margin-left:5px;}
.phpXzphList li a b{ display: block; width: 25px; height: 25px; display: flex; align-items: center; justify-content: center; float: left; margin: 0px 5px 0px 0px;}
.phpXzphList li a b img{ max-width: 25px; max-height: 25px;}
.phpXzphList li em{ display: block; float: right; width: 64px; height: 24px; line-height: 24px; overflow: hidden; font-size: 12px; color: #b7b7b7; text-align: right;}


/**技术文章**/
.phpJswzBox{ width: 1200px; margin-top:40px;}
.phpJswzLeft{ float: left; width: 955px;}
.phpJswzBg{ width: 955px; height: 423px; background: #ffffff; border-radius: 12px; margin-top:30px;}
.phpJswzList{ width: 900px; margin: auto;}
.phpJswzList li{ float:left; width: 435px; margin: 30px 0px 0px 30px;}
.phpJswzList li:nth-child(2n+1){ margin-left:0px;}
.phpJswzList li span a{ display: block; float: left; width: 68px; height: 68px; overflow: hidden; border-radius: 3px;}
.phpJswzList li span a img{  height: 68px; border-radius: 3px; transition: all 0.2s;}
.phpJswzList li span a:hover img{ transform:scale(1.1);}
.phpJswzList li dl{ float: right; width: 345px; margin-top:6px;}
.phpJswzList li dl dt a{ display: block; height: 18px; line-height: 18px; overflow: hidden;}
.phpJswzList li dl dd{ margin-top:15px;}
.phpJswzList li dl dd em{ display: block;}
.phpJswzList li dl dd em.name1{ float: left; max-width: 175px; height: 22px; overflow: hidden;}
.phpJswzList li dl dd em.name1 a{ display: block; float: left; height: 22px; background: #fef6f6; font-size: 12px; color: #666666; text-decoration: none; line-height: 22px; overflow: hidden; border-radius: 3px; padding:0px 5px; margin-left: 10px;}
.phpJswzList li dl dd em.name1 a:first-child{margin-left:0px;}
.phpJswzList li dl dd em.name1 a:hover{ background: #f11717; color: #ffffff;}
.phpJswzList li dl dd em.name2{ float: left; max-width: 90px; height: 22px; overflow: hidden; font-size: 12px; color: #c3c3c3; line-height: 22px; margin-left:20px;}
.phpJswzList li dl dd em.name2 b{ display: block; float: left; width: 18px; height: 12px; background: url(/static/newDowns/images/bg1.png) no-repeat -170px -65px;
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -170px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -170px -65px;
     margin:6px 5px 0px 0px;}
.phpJswzList li dl dd em.name3{ float: right; width: 40px; height: 22px; line-height: 22px; overflow: hidden; font-size: 12px; color: #c5c5c5; text-align: right;}
.phpJswzRight{ float: right; width: 224px;}
.phpJswzCont{ width: 224px; height: 420px; background: #ffffff; border-radius: 12px; margin-top:34px; overflow: hidden;}
.phpJxwzList{ width: 185px; margin: auto;}
.phpJxwzList li{ width: 185px; margin-top:20px;}
.phpJxwzList li a{ display: block;}
.phpJxwzList li a span{ display: block; float: left; width: 80px; height: 60px; border-radius: 3px; overflow: hidden;}
.phpJxwzList li a span img{ /*width: 80px; */height: 80px; transition: all 0.2s;}
.phpJxwzList li a span img:hover{ transform:scale(1.1);}
.phpJxwzList li a dl{ float: right; width:90px;}
.phpJxwzList li a dl dt{ height: 39px; line-height: 18px; overflow: hidden;}
.phpJxwzList li a dl dd{ height: 21px; background: #fef6f6; font-size: 12px; color: #666666; text-decoration: none; line-height: 21px; overflow: hidden; border-radius: 3px; padding:0px 5px; float: left; max-width: 90px;}
.phpJxwzList li a dl dd b{ display: block; float: left; width: 9px; height: 11px; background:url(/static/newDowns/images/bg1.png) no-repeat -200px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -200px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -200px -65px;
    margin: 5px 5px 0px 0px;}


/**博客**/
.phpBokeBox{ width: 1200px; margin-top:40px;}
.phpBokeBg{ width: 1200px; height: 440px; background: #ffffff; border-radius: 12px; margin-top:30px;}
.phpBokeList{ width: 1120px; margin: auto; overflow: hidden;}
.phpBokeList li{ border-top: 1px solid #f6f6f6; margin-top:37px;}
.phpBokeList li:first-child{border-top:none; margin-top:0px;}
.phpBokeList li dl{ float: left; width: 335px; margin-top:37px; margin-left:57px;}
.phpBokeList li dl:nth-child(3n+1){ margin-left:0px;}
.phpBokeList li dl dt h2{ font-size: 20px; color: #8e8e8e; height: 24px; line-height: 24px; overflow: hidden;}
.phpBokeList li dl dt span{ display: block; height: 22px; line-height: 22px; overflow: hidden; margin-top:15px;}
.phpBokeList li dl dt span a{ display: block; float: left; max-width: 285px; margin-right: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.phpBokeList li dl dt span em{ display: block; float: left; width: 33px; height: 22px; box-sizing: border-box; border: 1px solid #f11717; border-radius: 3px; line-height: 22px; overflow: hidden; text-align: center; font-size: 12px; color: #f11717;}
.phpBokeList li dl dd.cont1{ height: 40px; line-height: 20px; overflow: hidden; color: #999999; margin-top:15px;}
.phpBokeList li dl dd.cont2{ margin-top:15px;}
.phpBokeList li dl dd.cont2 span{ display:block; float: left; color: #c3c3c3; font-size: 12px; margin-right:20px;}
.phpBokeList li dl dd.cont2 span.width1{ max-width: 130px; height: 16px; line-height: 16px; overflow: hidden;}
.phpBokeList li dl dd.cont2 span.width2{ max-width: 70px; height: 16px; line-height: 16px; overflow: hidden; white-space: nowrap;}
.phpBokeList li dl dd.cont2 span.width3{ max-width: 70px; height: 16px; line-height: 16px; overflow: hidden;}
.phpBokeList li dl dd.cont2 span a{ color : #c3c3c3; text-decoration: none;}
.phpBokeList li dl dd.cont2 span a:hover{ color: #f11717; text-decoration: underline;}
.phpBokeList li dl dd.cont2 span b{ display: block; float: left; width: 12px; height: 12px; background: url(/static/newDowns/images/bg1.png) no-repeat; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat; 
    margin: 3px 5px 0px 0px;}
.phpBokeList li dl dd.cont2 span b.icon1{ background-position: -225px -65px;}
.phpBokeList li dl dd.cont2 span.width2 b.icon2{ background-position: -250px -65px; width: 18px;}
.phpBokeList li dl dd.cont2 span b.icon3{ background-position: -275px -65px;}


/**社区问答**/
.phpSqwdList{ width: 1200px;}
.phpSqwdList li{ float: left; width: 386px; height: 105px; background: #ffffff; border-radius: 12px; margin: 30px 0px 0px 21px;}
.phpSqwdList li:nth-child(3n+1){ margin-left:0px;}
.phpSqwdList li:hover{box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);}
.phpSqwdList li dl{ width: 327px; margin: auto;}
.phpSqwdList li dl dt{ margin-top:23px;}
.phpSqwdList li dl dt a{ display: block; float: left; max-width: 285px; height: 22px; line-height: 22px; overflow: hidden;}
.phpSqwdList li dl dt em{ display: block; float: left; width: 33px; height: 22px; box-sizing: border-box; border: 1px solid #f11717; border-radius: 3px; line-height: 22px; overflow: hidden; text-align: center; font-size: 12px; color: #f11717;margin-left:5px;}
.phpSqwdList li dl dd{ margin-top:15px;}
.phpSqwdList li dl dd span{ display: block; float: left; width: 175px; height: 18px; line-height: 18px; overflow: hidden; color: #999999;}
.phpSqwdList li dl dd em{ display: block; float: right;}
.phpSqwdList li dl dd em i{ display:block; float: left; margin-left: 20px; font-size: 12px; color: #c3c3c3; font-style:normal;}
.phpSqwdList li dl dd em i b{ display:block;  margin: 3px 5px 0px 0px; float: left;}
.phpSqwdList li dl dd em i b.icon1{ background: url(/static/newDowns/images/bg1.png) no-repeat -250px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -250px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -250px -65px;
    width: 18px; height: 12px;}
.phpSqwdList li dl dd em i b.icon2{ background: url(/static/newDowns/images/bg1.png) no-repeat -275px -65px; 
    background: image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x)  no-repeat -275px -65px; 
    background: -webkit-image-set(url(/static/newDowns/images/bg1.png) 1x, url(/static/newDowns/images/bg1-2x.png) 2x) no-repeat -275px -65px;
    width: 12px; height: 12px;}
.phpSqwdList li dl dd em i h3{ display: block; float: left; max-width: 35px; height: 16px; line-height: 16px; overflow: hidden;}


/**友情链接**/
.phpZbktTitle p{ float: left; margin-top:3px; color: #333333; margin-left:5px;}
.phpLink{ width: 1200px; background: #ffffff; border-radius: 12px; margin-top:30px; padding-bottom: 20px;}
.phpLinkIn{ width: 1180px;}
.phpLinkIn a{ display: block; float: left; margin-left: 30px; margin-top:20px;}
.phpZbktTitle h2.size{ font-size: 18px;}
.phpFootCodeIn a{ color:#656565; text-decoration: none;}
.phpFootCodeIn a:hover{ color: #ffffff;}

.course_live_back{position: absolute;width: 50px;height: 25px; line-height: 25px;text-align: center;background: #727274;color: #fff;border-top-left-radius: 6px;font-size: 12px;z-index: 99999;}
.course_live{position: absolute;width: 50px;height: 25px;line-height: 25px;text-align: center;background: #F85867;color: #fff;border-top-left-radius: 6px;font-size: 12px;z-index: 99999;}
.course_live img{vertical-align: middle;}


/**合作伙伴**/
.phpHzhbIn{ width: 1200px; margin-top:25px;}
.yellKuaiSwiper{ width: 1200px; margin: auto; overflow: hidden; position: relative;}
.yellKuaiSwiper .swiper-wrapper{ width: 1200px;}
.yellKuaiSwiper .swiper-wrapper .swiper-slide{ width: 1200px;}
.yellKuaiCont{ width: 224px; height: 110px; background: #FFFFFF; box-shadow: 0px 4px 15px 0px rgba(205,216,228,0.3); border-radius: 12px; margin: 0px 0px 0px 20px; float: left;}
.yellKuaiCont a{ display: block; width: 224px; height: 110px; display: flex; align-items: center; justify-content: center; }
.yellKuaiCont a img{ max-height: 110px; max-width: 224px;}
.yellKuaiCont:first-child{ margin-left:0px;}
.yellKuaiSwiper .swiper-button-prev{  width: 32px; height: 32px; background: url(/static/newDowns/images/hhl-bg17.png) no-repeat 0px -300px; 
    background: image-set(url(/static/newDowns/images/hhl-bg17.png) 1x, url(/static/newDowns/images/hhl-bg17-2x.png) 2x)  no-repeat 0px -300px; 
    background: -webkit-image-set(url(/static/newDowns/images/hhl-bg17.png) 1x, url(/static/newDowns/images/hhl-bg17-2x.png) 2x) no-repeat 0px -300px; position:absolute; left: 0px; top: 60px;}
.yellKuaiSwiper .swiper-button-next{ width: 32px; height: 32px; background: url(/static/newDowns/images/hhl-bg17.png) no-repeat -40px -300px; 
        background: image-set(url(/static/newDowns/images/hhl-bg17.png) 1x, url(/static/newDowns/images/hhl-bg17-2x.png) 2x)  no-repeat -40px -300px; 
        background: -webkit-image-set(url(/static/newDowns/images/hhl-bg17.png) 1x, url(/static/newDowns/images/hhl-bg17-2x.png) 2x) no-repeat -40px -300px; position:absolute; right: 0px; top: 60px;}
.yellKuaiSwiper .swiper-button-prev:hover{ background-position: -80px -300px;}
.yellKuaiSwiper .swiper-button-next:hover{ background-position: -120px -300px;}